accelerate==1.1.0
av==14.2.0
bitsandbytes==0.43.0
datasets==2.16.1
decord
deepspeed==0.16.5
einops==0.6.1
einops-exts==0.0.4
fastapi
gradio_client==0.2.9
hf_transfer
lmms-eval==0.2.0
markdown2[all]
open_clip_torch
opencv-python
peft==0.9.0
pydantic==2.7.1
timm
tokenizers==0.19.1
transformers==4.44.0
tyro
urllib3==2.2.2
uvicorn
wandb